<div class="ui fixed transparent borderless menu">
    <a class="item sidebar-toggle">
        <i class="content basic icon"></i> Notes
    </a>
    <div class="right menu">
        <div class="item">
            <small><i>Sample status text...</i></small>
        </div>
    </div>
</div>