<div class="fixed">
    <nav class="top-bar" data-topbar>
        <ul class="title-area">
            <li>
                <a class="left-off-canvas-toggle menu-icon" href="#"><span></span></a>
            </li>
        </ul>

        <section class="top-bar-section">
            <!-- Right Nav Section -->
            <ul class="right">
                <li class="subheader"><span>Test status text...</span></li>
            </ul>

            <!-- Left Nav Section -->
            <ul class="left">
                <li class="name"><h1><a href="#">Notes</a></h1></li>
            </ul>
        </section>
    </nav>
</div>