<div class="ui floating vertical demo sidebar menu">
    <a class="active item">
        <i class="lightbulb icon"></i>
        Notes
    </a>
    <a class="item">
        <i class="archive icon"></i>
        Archive
    </a>
</div>